a {
    color: black !important;
}

a:hover {
    text-shadow: black;
}

td svg {
    font-size: 1.5rem !important;
    margin: 0.75rem 0;
}

tbody tr:last-child {
    border: none;
}

.carousel.carousel-slider .carousel-item p {
    font-size: 1.2rem;
}

.pos-rel-container {
    position: relative;
    display: flex;
}

#clipboard {
    position: fixed;
    cursor: pointer;
}

#checkmark {
    visibility: hidden;
    position: fixed;
    color: green;
    z-index: 1;
}

#toast {
    visibility: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 2px;
    background-color: #323232;
    font-size: 1.1rem;
    font-weight: 300;
    color: #fff;
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
}

#toast.show, #checkmark.show {
    visibility: visible;
    -webkit-animation: fadeout 2s 0.5s;
    animation: fadeout 2s 0.5s;
}

@-webkit-keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

@media screen and (min-height: 570px) {
    td svg {
        font-size: 2.5rem !important;
    }
}

