#intro {
    display: flex;
    height: 85vh;
    background-color: lightgray;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hide-intro {
    height: 0 !important;
    opacity: 0;
    overflow: hidden;
    transition: height 0.5s, opacity 0s, overflow 0s;
}