.modal-overlay {
    background-color: #000 !important;
}

.modal {
    height: fit-content;
    max-height: 90vh !important;
    width: 100vw !important;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;    /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.modal::-webkit-scrollbar {
    display: none;
}

.modal-content h6{
    margin-top: 10px !important;
    font-weight: 500;
}

.modal-content {
    padding: 0 24px !important;
}

.icon-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.icon-container img {
    width: 20%;
    padding: 10px;
}

@media screen and (min-width: 768px) {
    .modal {
        width: 70vw !important;
    }
}

@media screen and (min-width: 1024px) {
    .modal {
        width: 50vw !important;
    }
}

@media screen and (min-width: 1440px) {
    .modal {
        width: 30vw !important;
    }
}
