html {
  scroll-behavior: smooth;
}

.page-header {
  font-size: 3.25rem;
  font-weight: 300;
  padding: 1.5rem 0;
  line-height: 32px;
  margin: 0;
}

@media screen and (min-width: 1024px) {
  .portfolio-container {
    width: 50%;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 50%;
  }
}
