.my-nav {
  height: 10vh !important;
  line-height: normal;
}

.my-nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.initials-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 39px;
  width: 39px;

  z-index: 999;
  cursor: pointer;
}

.my-initials {
  font-size: 24px;
  font-weight: 500;
}
